* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: #f9fafb;
    color: #374151;
}

/* layout */
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #fff;
    border-right: 1px solid #e5e7eb;
    padding: 20px;
}
.sidebar .logo {
    width: 100px;
    margin-bottom: 30px;
}
.sidebar ul {
    list-style: none;
}
.sidebar ul li {
    margin-bottom: 15px;
    font-size: 13px;
}
.sidebar ul li a {
    color: #374151;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}
.sidebar ul li a:hover {
    color: #1d4ed8;
}

/* main content */
.main-content {
    flex: 1;
    padding: 30px;
}
.main-content h2 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

/* form */

#userCode, #userName, #email, #password, #role, #birthday, #status, #description {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    font-size: 14px;
    color: #374151;
}
#userCode:focus, #userName:focus, #email:focus, #password:focus, #role:focus, #birthday:focus, #status:focus, #description:focus {
    outline: none;
    border-color: #1d4ed8;
    box-shadow: 0 0 0 2px rgba(29, 78, 216, 0.2);
}
#userCode::placeholder, #userName::placeholder, #email::placeholder, #password::placeholder, #role::placeholder, #birthday::placeholder, #status::placeholder, #description::placeholder {
    color: #9ca3af;
}
#userCode, #userName, #email, #password, #role, #birthday, #status, #description {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    font-size: 14px;
    color: #374151;  
}
#userCode:focus, #userName:focus, #email:focus, #password:focus, #role:focus, #birthday:focus, #status:focus, #description:focus {
    outline: none;
    border-color: #1d4ed8;
    box-shadow: 0 0 0 2px rgba(29, 78, 216, 0.2);
}
#userCode::placeholder, #userName::placeholder, #email::placeholder, #password::placeholder, #role::placeholder, #birthday::placeholder, #status::placeholder, #description::placeholder {
    color: #9ca3af;
}
#addButton {
    background-color: #1d4ed8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#backButton {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#role  {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    font-size: 14px;
    color: #374151;
}
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    font-size: 14px;
    color: #374151;
}